<div class="loginwrapper">
  <div class="lg-inner-column">
    <div class="right-column relative">
      <div
        class="inner-content h-full flex flex-col bg-white dark:bg-slate-800"
      >
        <div class="auth-box h-full flex flex-col justify-center">
          <div class="mobile-logo text-center mb-6 lg:hidden block">
            <a href="index.html">
              <img
                src="assets/images/logo/logo.svg"
                alt=""
                class="mb-10 dark_logo"
              />
              <img
                src="assets/images/logo/logo-white.svg"
                alt=""
                class="mb-10 white_logo"
              />
            </a>
          </div>
          <div class="text-center 2xl:mb-10 mb-4">
            <h4 class="font-medium">Sign in</h4>
        
          </div>
          <!-- BEGIN: Login Form -->
          <form
            class="space-y-4"
            action="/admin/loginAdmin" method="post"
          >
            <div class="fromGroup">
              <label class="block capitalize form-label">email</label>
              <div class="relative">
                <input
                  type="email"
                  name="email"
                  class="form-control py-2"
                  placeholder="Add placeholder"
                />
              </div>
            </div>
            <div class="fromGroup">
              <label class="block capitalize form-label">passwrod</label>
              <div class="relative">
                <input
                  type="password"
                  name="password"
                  class="form-control py-2"
                  placeholder="Add placeholder"
                />
              </div>
            </div>
            <div class="flex justify-between">
              <div class="checkbox-area">
                <label class="inline-flex items-center cursor-pointer">
                  <input type="checkbox" class="hidden" name="checkbox" />
                  <span
                    class="h-4 w-4 border flex-none border-slate-100 dark:border-slate-800 rounded inline-flex ltr:mr-3 rtl:ml-3 relative transition-all duration-150 bg-slate-100 dark:bg-slate-900"
                  >
                    <img
                      src="assets/images/icon/ck-white.svg"
                      alt=""
                      class="h-[10px] w-[10px] block m-auto opacity-0"
                  /></span>
                  <span
                    class="text-slate-500 dark:text-slate-400 text-sm leading-6"
                    >Keep me signed in</span
                  >
                </label>
              </div>
              <a
                class="text-sm text-slate-800 dark:text-slate-400 leading-6 font-medium"
                href="forget-password-one.html"
                >Forgot Password?</a
              >
            </div>
            <button class="btn btn-dark block w-full text-center">
              Sign in
            </button>
          </form>
          <!-- END: Login Form -->
         
          </div>
          <div
            class="md:max-w-[345px] mx-auto font-normal text-slate-500 dark:text-slate-400 mt-12 uppercase text-sm"
          >
            Don’t have an account?
            <a
              href="signup-one.html"
              class="text-slate-900 dark:text-white font-medium hover:underline"
            >
              Sign up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
