<!DOCTYPE html>
<html lang="zxx" dir="ltr" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Dashcode - HTML Template</title>
    <%- include('__particles/metaLinksScript') %>
  </head>

  <body class="font-inter dashcode-app" id="body_class">
    <%- include('components/signin') %>
  </body>
</html>
