<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello <%= username %>,</p>
    <p>Welcome to our platform!</p>
    <p>Please click the button below to validate your email:</p>
    <a id="validateEmailBtn" href="<%= process.env.APP_URL%>/emailverification/<%= id %>" target="_blank" style="margin-top: 2rem; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Validate Email</a>

    <!-- <form action="" method="post">
        <button type="submit" target="_blank" style="margin-top: 2rem; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Validate Email</button>
    </form> -->

  </body>
</html>

